body {
  background-color: #333333;
  height: 100%;
  overflow-y: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #2b2b2b;
  height: 150px;
  padding: 20px;
  color: white;
}
.ReactTable .rt-thead.-header{
  background-color: white;
}

.controls {
  background-color: #1b1c1d;
  height: 100%;
  padding: 20px;
  color: white;
  max-height: calc(100vh - 40px);
}
.ui.container.controls {

}
.dropdown, .input {
  border-radius: 0px !important;
}

.ui.form .field > label {
  color: coral;
  font-weight: normal;
  letter-spacing: 3px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ui.menu{
  border-radius: 0px;
}

h1.ui.header {
    font-size: 2rem;
    padding-left: 2rem;
}

.submit__button{
  display: flex;
  justify-content: flex-end;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
    padding-left: 2rem;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input, button {
  border-radius: 0 !important;
}

.DateInput_input {
  border-radius: 0 !important;
  font-size: 10pt !important;
}

.DateInput {
  width: 100px !important;
  border-radius: 0!important;
}

.DateInput_input {
  border-radius: 0 !important;
  font-size: 10pt !important;
}

.DateRangePickerInput {
  width: 235px !important;
}
.ReactTable .rt-thead.-headerGroups {
  background: white !important;
}
.DateRangePickerInput_arrow {
  padding-left: 5px;
  padding-right: 4px;
}
.taj__container{
  display: flex;
}
.taj__controllers{
  max-width: 280px;
  min-width: 280px;
  width: 280px;
  height: 98vh;
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
}
.taj__controllers--hide{
  width: 0 !important;
  min-width: 0;
}
.taj__table{
  flex-grow: 1;
  overflow-x: scroll;
  background: white;
  position: relative;
}
.taj__control-btn{
  padding: 10px !important;
  position: absolute;
  top: 48px;
  z-index: 99;
  background: coral !important;
}
.taj__control-btn i{
  margin: 0 !important;
  color: #141617;
}
.ui.inverted.menu{
  margin: 0;
}
.ReactTable .rt-tbody{
  max-height: calc(100vh - 173px);
  overflow-x: hidden;
}
.ui.form input[type=text]{
  padding: .37857143em 1em;
}
.btn_arrow.arrow_right{
  transform: rotate(180deg);
}
.btn_arrow{
  transition: all 1s;
  transform: rotate(0deg);
}
